body {

    font: 12px/1.5 Arial, sans-serif;
}

.container {
    /*align*/

    margin: 0 auto;
    padding: 0px;
    width: 750px;
    /*background*/
    background-color: #eee;
    /*height 100 %*/

    font: 12px/1.5 Arial, sans-serif;
}


.page {
    height: 100px;
    text-align: center;
}

.blog, .cv, .links {
    margin: 10px 20px 10px 20px;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.projects {
    margin: 10px 0 10px 0;
    padding: 10px;
    height: 500px;
}

.link-item {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    background-color: #ddd;
}
