body {

    font: 12px/1.5 Arial, sans-serif;
    background-color: #f1faeeff;
    color: #1d3557ff;
}


/*--imperial-red: #e63946ff;*/
/*--honeydew: #f1faeeff;*/
/*--powder-blue: #a8dadcff;*/
/*--celadon-blue: #457b9dff;*/
/*--prussian-blue: #1d3557ff;*/

.container {
    /*align*/

    margin: 0 auto;
    padding: 0px;
    width: 750px;
    /*background*/
    background-color: #eee;
    /*height 100 %*/

    font: 12px/1.5 Arial, sans-serif;
}


.page {
    height: 100px;
    text-align: center;
}

.blog, .cv, .links {
    margin: 10px 20px 10px 20px;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.projects {
    margin: 10px 0 10px 0;
    padding: 10px;
    height: 500px;
}

.link-item {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    background-color: #ddd;
}


* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}

.flex-section {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 100%;
}

.flex-section {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 100%;
}

.flex-item {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 33%;

}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px ) {
    .flex-item {
        flex: 100%;
    }
}

.main-section {
    font-size: 10px;
    background-color: #457b9dff;;
    color: #f1faeeff;
}